html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

canvas {
  border: 2px solid black;
  margin: 50px auto 200px;
  display: block;
}

#toolbar {
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  height: 15%;
  overflow-y: auto;
  overflow-x: hidden;
}

#toolbar > div {
  margin: 0 20px 0;
}
